/* Kleuren 
tekstkleur: #665950 
linkKleur: #4C86CF 
linkHover: #058 
achtergrondBleek: #FCFAF8 
achtergrondDonker: #EBE8E5 
achtergrondGroen: #8FB209 
borderGrijs: #DCDAD8 
headingGroen: #7ea107 
headingDonker: #52463f 
headingPaars: #9A3098 
code: #8B1C00 
img rand: #E9DCE9 */

/* Default */
body {
    color: #665950;
}

header,
main,
footer,
div,
section,
article,
nav {
    padding: 0;
    margin: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Clearfix */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* Typografie 
*****************/
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 0;
}

h1+h2 {
    font-style: italic;
}

/* Kleuren 
*****************/
/* Background */
body {
    background-color: #FCFAF8;
}

.bc-donker {
    background-color: #EBE8E5;
    padding: 0 10vw;
}

/* Headings */
h1,
h2 {
    color: #7ea107
}

h1+h2 {
    color: #665950;
}

.flex-container h3 {
    color: #665950;
}

/* Linken */
a {
    color: #4C86CF;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #058;
    text-decoration: underline;
}

/* Borders */
.borders {
    border: #DCDAD8 solid;
    border-width: 2px 0;
}

img.borders {
    border: #E9DCE9 0.5em solid;
}

.border-bottom {
    border-bottom: #DCDAD8 solid 1px;
}

.border-top {
    border-top: #DCDAD8 solid 1px;
}

/* Roteren */
.roteer-rechts {
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg) scale(0.8);
}

.roteer-links {
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg) scale(0.8);
}

.roteer-allemaal li:nth-child(2n) img {
    -ms-transform: rotate(10deg) scale(0.8);
    -webkit-transform: rotate(10deg) scale(0.8);
    transform: rotate(10deg) scale(0.8);
    display: block;
}

.roteer-allemaal li:nth-child(2n+1) img {
    -ms-transform: rotate(-10deg) scale(0.8);
    -webkit-transform: rotate(-10deg) scale(0.8);
    transform: rotate(-10deg) scale(0.8);
    display: block;
}

/* Vervorm */
.vervorm {
    /* -ms-transform: rotate(-10deg) scale(0.8) matrix3d(2, 5, 6, 8);
    -webkit-transform: rotate(-10deg) scale(0.8) matrix3d(2, 5, 6, 8); */
    transform: rotate(10deg) scale(0.8) skew(-10deg);
}

/* Rechts links */
.rechts-links li:nth-child(2n+1) h3 {
    float: right;
    clear: both;
}

.rechts-links li:nth-child(2n+1) p {
    float: right;
    margin-top: 0;
    clear: right;
}

/* Schaduw */
img.schaduw,
.schaduw img {
    box-shadow: 10px 10px 20px rgb(156, 156, 156);
}



/* Per deel 
****************/
/* Topbar */
.topbar {
    color: white;
    background-color: #8FB209;
    /* line-height: center; */
}

input,
label {
    line-height: 1;
}

input[type="submit"] {
    color: white;
    background-color: #7ea107;
    border: black solid 1px;
    padding: 0.3em;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #587203;
}

/* Structuur 
************************/
body>* {
    padding: 0 10vw;
}

.links {
    float: left;
}

.rechts {
    float: right;
}

.clear {
    clear: both;
}


/* List items */
li {
    height: 100%;
    list-style: none;
}

.hoofdmenu li a {
    padding: 0 1em;
    color: #665950;
}

li a:first {
    padding-left: 0;
}

li a:last-child {
    padding-right: 0;
}

/* Topbar */
.topbar.rechts {
    padding-right: 10vw;
    text-align: right;
    width: 100%;
}

/* Hoofdmenu */
.hoofdmenu {
    position: absolute;
    top: 6.5em;
    right: 10vw;
}

.hoofdmenu li {
    display: inline;
    font-weight: bold;
    border-right: #DCDAD8 solid 1px;
    padding-right: 1em;
}

.hoofdmenu li:last-child {
    border: none;
}

/* Afbeeldingen  */
img {
    max-width: 100%;
    height: auto;
}

img.rechts {
    margin-bottom: 1em;
}

img.links {
    top: -1.5em;
    position: relative;
    margin-right: 2em;
}

.logo img {
    margin: 1em 0;
}

/* inhoud */
.intro {
    padding-bottom: 1em;
}

.bc-donker>h2 {
    padding-top: 0.5em;
}

.bc-donker.clear>p {
    margin-bottom: 0;
}

em {
    font-style: normal;
    color: #9A3098;
    font-weight: bold;
}

/* vinkjes */
ul.vinkjes {
    padding: 0;
}

ul.vinkjes li {
    background: url(../svg/vinkje.svg) no-repeat;
    background-size: 1em;
    padding: 0 0.5em 1em 2em;
}

/* Bulletlist */
ul.bullet>li {
    list-style: disc;
}

/* Flex */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 1em;
}

.flex-container>li,
.flex-container>article,
.flex-container>.item {
    width: 33%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* fix voor image in flex met borders */
    height: 100%;
}

.col-4>li {
    width: 22%;
    margin: 1.5%
}

/* Datum kleiner */
/* Methode 1 */
/* article {
    font-size: 0.8em;
} */

/* article>* {
    font-size: initial;
} */

/* Methode 2 */
article::first-line {
    font-size: 0.8em;
}

article>h3 {
    margin-top: 0.25em;
}

/* Footer */
footer>p:last-of-type {
    font-style: italic;
}

/* Contact page 
*******************/

/* Map */
#gmap {
    background-image: url("../img/gmap.png");
    background-size: cover;
    /* Zodat pin in het midden staat */
    background-position: 75% 50%;
    /* totaal is 80vw (50+30) */
    width: 50vw;
    margin-right: 1vw;
    max-width: 100%;
    max-height: 30em;
}

.sub-flex-container {
    width: 25vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start
}

img.col-4 {
    width: 8vw;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 1vw;
}

img.col-8 {
    width: 17vw;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 1vw;
}

.img-responsive {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.img-container {
    float: left;
    height: 20em;
    padding-bottom: 1vw;
}

.img-container:nth-last-child(2),
.img-container:nth-last-child(1) {
    padding-bottom: 0;
    height: 10em;
}

/* Form */
.contact {
    width: 50vw;
}

.contact label,
.contact input,
.contact textarea {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0 0.6em 0;
    padding: 0;
}

.contact label:not(.labelCheckbox) {
    width: 20%;
    text-align: right;
    padding-right: 1em;
    font-weight: bold;
    padding-top: 0.33em;
}

.contact input,
.contact textarea {
    width: 80%;
    padding: 0.2em;
}

.contact .labelCheckbox {
    margin-left: 20%;
}

.contact input[type="checkbox"] {
    width: initial;
    background-color: blue;
    margin-bottom: 0;
}

.contact input[type="submit"] {
    width: initial;
    margin-left: 20%;
    clear: both;
}