/* Algemeen 
***************/
/* kleur */
.my-jumbotron-container {
    color: #31708F;
}

.bgc-green {
    background-color: #DEF0D6;

}

.jumbotron p {
    font-weight: 600;
}

/* Ul */
ul {
    padding-left: inherit;
}

ul.vinkjes li {
    list-style-type: none;
    background: url(../svg/vinkje.svg) no-repeat;
    background-size: 1em;
    padding: 0 0.5em 1em 2em;
}

/* end algemeen */

/* extra responsve */
.display-3 {
    /* font-size: 5vw; */

}

.display-3 {
    overflow-wrap: break-word;
}

/* Stiky footer en nav */
body {
    min-height: 100vh;
}

.flex-grow {
    flex: 1;
}

body>div:nth-of-type(2) {
    margin-top: 3.8em;
}